.login{
    font-weight: 100;
    justify-content: center;
    align-items: center;
}

.nameinitials{
    width: 75px;        
    height: 75px;      
    border-radius: 50%;

}

.names{
    padding-top: 20px;
}
.password{
    background-image: linear-gradient(to right, black 0%, black 100%);
    background-size: 100% 2px;
    background-repeat: no-repeat;
    background-position: 0 100%;
    border: none;
    outline: none;
    margin-top: 5px;
}

.eye{
    cursor: pointer;
}