.signUp{
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jipange{
    font-size: larger;
    font-size: 50px;
}
.form{
    width: 420px;
    height: 500px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.h1{
    font-size: 15px;
}

.text1{
    font-size: 12px;
}

.text2{
    font-size: 10px;
    font-weight: bold;
}

.signup placeholder{
    font-weight: bolder;
}